* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color:white;
  }

  :root {
    --main-color:white;
    --second-color: white;
  }
  body{
    background-image: url("./images.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   }
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 100px;
    background: #403838;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
  }

  /* Logo CSS */
  .logo {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--second-color);
    font-weight: 700;
  }
  ul {
    display: flex;
  }
  ul li a {
    padding: 10px 22px;
    color: var(--second-color);
    border-radius: 2px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 10px;
  }
  ul li a:hover {
    background: var(--main-color);
    color: blue;
    border: none;
  }


section {
  padding-top: 100px;
}

#footer {
    position:fixed;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: #403838;
    text-align: center;
}

.container{
    padding: 50px;
    align-items: center;
    margin-top: 90pxpx;
    height: 280px;
    width: 700px;
    border-radius: 90px;
    margin: 20px;
    box-shadow: 0 8px 32px 0 #403838;
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
  }

  .container1{
    background-image: url("./images/clientadv.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 90px;
    height: 250px;
    width: 1500px;
    border-radius: 90px;
    margin: 20px;
    box-shadow: 0 8px 32px 0 #403838;
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
  }

  .container1 a{
   background-color: #403838;
   padding-right: 30px;
   padding-left: 30px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin: 40px;
   font-size: 50px;
   border-radius: 30px; 
  }

  .container1 a:hover{
    background-color: rgb(155, 37, 37);
  }

  .txt{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }